<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Sobre</title>

    <!-- bootstrep -->
    <link rel="stylesheet" href="../public/css/bootstrap.rtl.min.css">
    
</head>
<body> 
    <div class="container">

        <img src="../public/img/mit2.0.webp"width="50px" height="50px" text-align="center" position="center">
        <h1>Sobre</h1>
    <h1>conest - controle  de estoque</h1>
    <h2> autor:KAIO EDUARDO</h2>
    <p>versao 1.0</p>
    <p>sob liscensa MIT</p>
</div>


 <footer id="footerAbout">
    <button id="btnFechar" onclick="javascript:window.close()">OK</button>
</footer>
 <!-- bootstrep -->
 <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>